{#
/**
 * @file
 * Default theme implementation for entity bs tab formatter.
 *
 * Available variables:
 * - tabs: The components list.
 *   - id: The component unique id.
 *   - header_attributes: The component header HTML attributes.
 *   - title: The title.
 *   - body_attributes: The component body HTML attributes.
 *   - body: The body.
 *   - content: The component entity.
 *   - fields: The component fields.
 * - attributes: Remaining HTML attributes for the component.
 *   - id: HTML id to be applied to the component.
 *
 * @ingroup themeable
 */
#}
<div class="entity-bs-tab-formatter"{{ attributes }}>
  <ul class="nav nav-tabs responsive" role="tablist">
    {% for fieldkey, fieldname in tabs %}
      <li{{ create_attribute(fieldname.li_attributes) }}><a{{ create_attribute(fieldname.header_attributes) }}> {{ fieldname.title }} </a></li>
    {% endfor %}
  </ul>
  <div class="tab-content responsive">
    {% for fieldkey, fieldname in tabs %}
    <div{{ create_attribute(fieldname.body_attributes) }}>
      {{ fieldname.body }}
    </div>
    {% endfor %}
  </div>
</div>
