{#
/**
 * @file
 * Default theme implementation for entity bs tab formatter.
 *
 * Available variables:
 * - tabs: The components list.
 *   - id: The component unique id.
 *   - header_attributes: The component header HTML attributes.
 *   - title: The title.
 *   - body_attributes: The component body HTML attributes.
 *   - body: The body.
 *   - content: The component entity.
 *   - fields: The component fields.
 * - attributes: Remaining HTML attributes for the component.
 *   - id: HTML id to be applied to the component.
 *
 * @ingroup themeable
 */
#}
<div class="entity-bs-tab-formatter"{{ attributes }}>
  <ul class="nav nav-tabs d-none d-lg-flex" role="tablist">
    {% for fieldkey, fieldname in tabs %}
      <li{{ create_attribute(fieldname.li_attributes) }}><button{{ create_attribute(fieldname.header_attributes) }}> {{ fieldname.title }} </button></li>
    {% endfor %}
  </ul>
  {% set tab_content_id = 'tabContent-' ~ random() %}  
  <div class="tab-content accordion" id="{{ tab_content_id }}">
    {% for fieldkey, fieldname in tabs %}
    <div{{ create_attribute(fieldname.body_attributes).addClass('accordion-item') }}>
      <h2{{ create_attribute(fieldname.h2_attr_responsive) }}>
        <button{{ create_attribute(fieldname.button_attr_responsive) }}>{{ fieldname.title }}</button>
      </h2>
      <div{{ create_attribute(fieldname.body_attributes_responsive) }} data-bs-parent="#{{ tab_content_id }}">
        {{ fieldname.body }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
