{#
/**
 * @file
 * Default theme implementation for entity bs accordion formatter.
 *
 * Available variables:
 * - tabs: The components list.
 *   - id: The component unique id.
 *   - header_attributes: The component header HTML attributes.
 *   - title: The title.
 *   - body_attributes: The component body HTML attributes.
 *   - body: The body.
 *   - content: The component entity.
 *   - fields: The component fields.
 * - attributes: Remaining HTML attributes for the component.
 *   - id: HTML id to be applied to the component.
 *
 * @ingroup themeable
 */
#}
<div class="entity-bs-accordion-formatter accordion"{{ attributes }}>
  {% for fieldkey, fieldname in tabs %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ fieldname.id }}">
        <button{{ create_attribute(fieldname.header_attributes) }}>
          {{ fieldname.title }}
        </button>
      </h2>
      <div{{ create_attribute(fieldname.body_attributes) }}>
        <div class="accordion-body">
          {{ fieldname.body }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
