{#
/**
 * @file
 * Default theme implementation for entity bs accordion formatter.
 *
 * Available variables:
 * - tabs: The components list.
 *   - id: The component unique id.
 *   - header_attributes: The component header HTML attributes.
 *   - title: The title.
 *   - body_attributes: The component body HTML attributes.
 *   - body: The body.
 *   - content: The component entity.
 *   - fields: The component fields.
 * - attributes: Remaining HTML attributes for the component.
 *   - id: HTML id to be applied to the component.
 *
 * @ingroup themeable
 */
#}
<div class="entity-bs-accordion-formatter accordion"{{ attributes }} role="tablist" aria-multiselectable="true">
  {% for fieldkey, fieldname in tabs %}
    <div class="card">
      <div class="card-header" role="tab" id="{{ fieldname.id }}">
        <h2 class="card-title">
          <button class="btn btn-link"{{ create_attribute(fieldname.header_attributes) }}>
            {{ fieldname.title }}
          </button>
        </h2>
      </div>
      <div{{ create_attribute(fieldname.body_attributes) }}>
        <div class="card-body">
          {{ fieldname.body }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
